.filter {
  position: absolute;
  z-index: 10;
  width: 440px;
  max-width: 100%;
  font-size: 12px;
  text-align: left;

  &__close {
    position: absolute;
    top: 0;
    right: 0;

    &:hover {
      color: $danger-color;
    }
  }

  &__icon {
    width: 10px;
    height: 10px;
  }
}
.input-numbers {
  max-width: 30px;
  max-height: 15px;
  background-color: transparent;
  color: white;
  border-color: white;
  text-align: center;
}
.additionally {
  margin-top: 15px;
}
.filter-button {
  max-width: 100px;
  background-color: transparent;
  margin-left: auto;
  color: white;
  border: none;
  margin-top: 15px;
}
