.search {
  position: relative;
  display: flex;
  width: 100%;
  background-color: $dark-background-color;
  border-radius: 0 5px 5px 0;

  &__input {
    flex: 1 1 0;
    min-width: 1px;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 44px;
    color: $global-font-color;
    background-color: transparent;
    border: none;

    &_small {
      line-height: 34px;
    }
  }

  &__close {
    line-height: 44px;
    color: $muted-color;

    &:hover {
      color: $global-font-color;
    }

    &_small {
      line-height: 34px;
    }
  }

  &__icon {
    width: 10px;
    height: 10px;
  }

  &__submit {
    padding-right: 25px;
    padding-left: 25px;
    line-height: 44px;
    border-radius: 0 5px 5px 0;

    &_small {
      line-height: 34px;
    }
  }

  &__alert {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    z-index: 1000;
    width: 750px;
    max-width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    background-image: linear-gradient(to right, #ccb22d, #c5a624);
    border-radius: 5px;
    transform: translateX(-50%);
  }

  .alert-close {
    position: absolute;
    top: 0;
    right: 0;

    &:hover {
      color: $danger-color;
    }
  }
}


