@media (min-width: 1200px) {
  .slider__title {
    position: absolute;
    font-size: 25px;
    letter-spacing: 4px;
    left: -610px;
    top: -50px;
  }
}

@media screen and (min-width: 990px) and (max-width: 1199px) {
  .slider__title {
    position: absolute;
    font-size: 25px;
    letter-spacing: 4px;
    left: -430px;
    top: -50px;
  }
}

.slick-slide img {
  max-height: 400px;
  display: block;
  min-width: 100%;
}
.slider {
  &__link {
    color: white;
    outline: none;
    border: none;
    font-size: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
  }
  max-height: 450px;
  padding: 15px;

  &__description {
    line-height: 15px;
    text-shadow: 3px 3px 4px rgba($color: #ffffff, $alpha: 0.3);
    &_title {
      color: $secondary-color;
      text-align: center;
      font-size: 18px;
      line-height: 15px;

      margin-bottom: 20px;
    }
    &_cost {
      margin-bottom: 10px;
    }
    padding: 15px;
    font-size: 16px;
    background-color: rgba($color: #000000, $alpha: 0.65);
    position: absolute;
    top: 15%;
    right: 55px;
    list-style: none;
  }
  &__wrapper {
    border: 0;
    outline: 0;
    position: relative;
  }
  & h3 {
    font-family: $global-heading-family;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
  }
}
.description-dotted {
  color: $muted-color;
  opacity: 0.2;
}
.description {
  &-cost {
    color: $success-color;
  }
  &-percent {
    color: $info-color;
  }
}

.slick-prev {
  top: calc(100% - 45px);
  left: 25px;
  z-index: 2;
  &::before {
    font-size: 30px;
  }
}
.slick-next {
  top: calc(100% - 45px);
  right: 25px;
  z-index: 2;
  &::before {
    font-size: 30px;
  }
}
.slick-dots li button:before {
  color: white;
}
.slick-dots li.slick-active button:before {
  color: white;
}
.slick-dots li button:before {
  content: "\25A0";
  font-size: 10px;
}
.slick-dots {
  bottom: 25px;
  left: -10px;
}
.slick-prev:before {
  content: "\2039";
}
.slick-next:before {
  display: inline-block;
  content: "\203A";
}
@media (max-width: 600px) {
  ul .slider__title {
    text-align: left;
    letter-spacing: 2px;
    font-size: 18px;
    position: relative;
    left: 0;
    top: 0;
  }
  .slider__description_title {
    display: none;
  }
  .slider__description_percent{
    display: none;
  }
  .slider__link{
    display: none;
  }
  .description-dotted{
    display: none;
  }
  .slider__description{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
  }
  .slider__description .slider__description_cost{
    font-weight: bold;
    display: block;
    position: relative;
    max-width: 200px;
    margin-left: auto;
    text-align: right;
    margin-bottom: 15px;
    margin-top: 40%;

  }
  .description-cost {
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
  }
}



@media screen and (min-width: 767px) and (max-width: 991px) {
  div .slider__description{
    font-size: 14px;
    padding: 15px 20px;
  }
  .slider__description_title {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .slider__description_percent {
    margin-bottom: 10px;
  }
  .slider__link {
    font-size: 14px;
    margin-top: 0;
    padding: 5px;
  }
  .description-cost{
    display: inline-block;
    margin-left: 72px;
  }
  .description-percent{
    display: inline-block;
    margin-left: 100px;
  }
  .description-dotted{
    display: none;
  }
  .slider__title {
    
    letter-spacing: 4px;
    font-size: 20px;
    position: absolute;
    left: -325px;
    top: -40px;
  }
}
@media screen and (min-width: 601px) and (max-width: 767px) {
  .slider__title {
    font-size: 20px;
    position: absolute;
    left: -155px;
    top: -30px;
  }
  div .slider__description{
    font-size: 14px;
    padding: 15px 20px;
  }
  .slider__description_title {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .slider__description_percent {
    margin-bottom: 10px;
  }
  .slider__link {
    font-size: 14px;
    margin-top: 0;
    padding: 5px;
  }
  .description-cost{
    display: inline-block;
    margin-left: 72px;
  }
  .description-percent{
    display: inline-block;
    margin-left: 100px;
  }
  .description-dotted{
    display: none;
  }
}
@media (max-width: 400px) {
  .slider__description .slider__description_cost{
    margin-top: 30%;
  }
  .slick-dots {
    bottom: 35px;
    left: -5px;
  }
  .slick-next {
    top: calc(100% - 55px);
    right: 25px;
    z-index: 2;}
    .slick-prev {
      top: calc(100% - 55px);
      left: 25px;
      z-index: 2;}
}
