.table__title-wrong {
  text-decoration: line-through;
}
.table__title_pause {
  display: inline-block;
  border-radius: 5px;
  background-color: rgb(216, 44, 207);
  border: none;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none !important;
}

.table-box {
  position: relative;
  padding: 20px;
  text-align: center;
  background-color: $table-background-color;
}

.table {
  color: $global-font-color;
  text-align: center;
  border-bottom: 1px solid $global-background-color;

  td,
  th {
    padding: 10px;
    vertical-align: middle;

    &:focus {
      outline: none;
    }
  }

  td {
    border-top-color: #6a6d71;
  }

  thead th {
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
    background-color: $global-background-color;
    border: none;
  }

  tbody tr:first-child td {
    border-top: none;
  }

  &__icon {
    width: 14px;
    height: 14px;
    margin-top: -3px;
  }

  &__title {
    text-align: left;
  }

  &__filter {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__dropdown {
    .dropdown-toggle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 150px;
      line-height: 24px;
      background-color: #13161a;
      border-color: #36393c;
      border-radius: 0;

      &:hover {
        color: $global-font-color;
        transform: none;
      }

      &::after {
        display: none;
      }
    }

    .dropdown-menu {
      min-width: 100%;
      padding: 0;
      margin: 0;
      font-size: 14px;
      color: $global-font-color;
      background-color: #1f2226;
      border-color: #36393c;
      border-radius: 0;
    }

    .dropdown-item {
      padding: 4px 0.75rem;
      color: $global-font-color;

      &:hover {
        color: #006dff;
        background-color: transparent;
      }
    }
  }

  .sorting,
  .sorting_asc,
  .sorting_desc {
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      color: #00ffe7;
    }
  }

  .icon-up {
    display: inline-flex;
  }

  .icon-down {
    display: none;
  }

  .sorting_asc {
    .icon-up {
      display: none;
    }

    .icon-down {
      display: inline-flex;
    }
  }
}

.dataTables {
  &_length,
  &_filter,
  &_info {
    display: none;
  }

  &_paginate {
    display: inline-flex;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #6a6d71;
    border-radius: 3px;

    .paginate_button {
      display: inline-flex;
      padding-left: 10px;
      padding-right: 10px;
      line-height: 23px;
      border-right: 1px solid #6a6d71;
      cursor: pointer;

      &:first-child {
        border-radius: 3px 0 0 3px;
      }

      &:last-child {
        border-right: none;
        border-radius: 0 3px 3px 0;
      }
    }

    .current {
      background-color: $info-color;
      cursor: default;
    }

    .previous,
    .next {
      display: none;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .table thead th {
    font-size: 16px;
  }

  .table__filter {
    top: 50px;
    left: 270px;
    transform: translateY(-100%);
  }

  .table__blank {
    width: 240px;
  }
}

@media (min-width: $breakpoint-xl) {
  .table__blank {
    width: 440px;
  }
}
