$breakpoint-sm:                             576px;  // Phone landscape
$breakpoint-md:                             768px;  // Tablet Landscape
$breakpoint-lg:                             992px; // Desktop
$breakpoint-xl:                            1200px; // Large Screens

$global-font-family: 'Roboto', sans-serif;
$global-heading-family: 'Open Sans', sans-serif;

$global-font-size: 14px;

$global-line-height: 1.2;

$muted-color: #8a8a8a;
$primary-color: #e75656;
$secondary-color: #c7a825;
$info-color: #2dabd0;
$success-color: #2dd068;

$global-font-color: #fff;
$global-heading-color: rgba(92, 255, 239, 0.8);
$global-link-color: #fff;

$global-background-color: #1a1e23;
$footer-background-color: #14191e;
$dark-background-color: #12161a;
$table-background-color: #2a2e33;